# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
*/*/*/__pycache__/
.idea
# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


# Emacs不跟踪的文件
emacs/elpa/
emacs/recentf
emacs/session.*
emacs/wedo.el

# IntelliJ不跟踪的配置文件
*.key
IntelliJ/config/port
IntelliJ/config/tasks/
IntelliJ/config/consoles/.history/

IntelliJ/config/options/dimensions.xml
IntelliJ/config/options/jdk.table.xml
IntelliJ/config/options/other.xml
IntelliJ/config/options/recentProjectDirectories.xml
IntelliJ/config/options/recentProjects.xml
IntelliJ/config/options/stubIndex.xml
IntelliJ/config/options/usage.statistics.xml
IntelliJ/config/options/window.manager.xml
IntelliJ/config/options/jprofiler.xml
IntelliJ/config/options/path.macros.xml

# IntelliJ 不跟踪插件
IntelliJ/config/plugins/

IntelliJ/config/plugins/availables.xml
IntelliJ/config/plugins/availables.xml.etag
IntelliJ/config/plugins/extensions.xml
IntelliJ/config/options/packages.xml
IntelliJ/config/options$/vim_local_settings.xml
IntelliJ/config/options/KeyPromoterXStatistic.xml
IntelliJ/config/options/conda_packages.xml
IntelliJ/config/options/editor.xml
IntelliJ/config/options/project.default.xml
IntelliJ/config/options/runner.layout.xml
IntelliJ/config/options/ui.lnf.xml
IntelliJ/config/options/updates.xml
IntelliJ/config/options/vim_settings.xml
IntelliJ/config/templates/Python.xml

# Notepad++ 不跟踪的文件
Notepad++/backup/
Notepad++/session.xml

# SecureCRT 不跟踪的文件
VanDyke/config/Sessions
VanDyke/config/KnownHosts
!VanDyke/config/Sessions/Default.ini

# 小小输入法不跟踪的文件
yong/yong.ini.old
