# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


# Emacs不跟踪的文件
emacs/elpa/
emacs/recentf
emacs/session.*
emacs/wedo.el

# IntelliJ不跟踪的配置文件
*.key
IntelliJ/config/port
IntelliJ/config/tasks/
IntelliJ/config/consoles/.history/

IntelliJ/config/options/dimensions.xml
IntelliJ/config/options/jdk.table.xml
IntelliJ/config/options/other.xml
IntelliJ/config/options/recentProjectDirectories.xml
IntelliJ/config/options/recentProjects.xml
IntelliJ/config/options/stubIndex.xml
IntelliJ/config/options/usage.statistics.xml
IntelliJ/config/options/window.manager.xml
IntelliJ/config/options/jprofiler.xml
IntelliJ/config/options/path.macros.xml

# IntelliJ 不跟踪插件
IntelliJ/config/plugins/

IntelliJ/config/plugins/availables.xml
IntelliJ/config/plugins/availables.xml.etag
IntelliJ/config/plugins/extensions.xml
IntelliJ/config/options/packages.xml
