[Unit]
Description=hugo compile Service
Documentation=https://www.docsy.dev/docs/get-started/
Requires=network.target
After=network.target

[Service]
Type=simple
User=wedo
Group=wedo
WorkingDirectory=/opt/shortcut/hugo-compile
ExecStart=bash /opt/shortcut/hugo-compile/start.sh

[Install]
WantedBy=default.target
